# Default values for ita-migration.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  itaGlobalDefinition:
    name: ita-global
    enabled: true
    image:
      registry: "docker.io"
      organization: exastro
      package: exastro-it-automation
    config:
      DEFAULT_LANGUAGE: "ja"
      LANGUAGE: "en"
      CONTAINER_BASE: "kubernetes"
      TZ: "Asia/Tokyo"
      STORAGEPATH: "/storage/"
    secret:
      ENCRYPT_KEY: ""
    persistence:
      enabled: true
      reinstall: false
      accessMode: ReadWriteMany
      size: 10Gi
      volumeType: hostPath # e.g.) hostPath or AKS
      storageClass: "-" # e.g.) azurefile or - (None)
      # matchLabels:
      #   release: "stable"
      # matchExpressions:
      #   - {key: environment, operator: In, values: [dev]}
  itaDatabaseDefinition:
    name: ita-database
    enabled: true
    config:
      DB_VENDOR: "mariadb"
      DB_HOST: "mariadb"
      DB_PORT: "3306"
      DB_DATABASE: "ITA_DB"
    secret:
      DB_ADMIN_USER: "root"
      DB_ADMIN_PASSWORD: "Ch@ngeMeDBAdm"
      DB_USER: "ITA_USER"
      DB_PASSWORD: "Ch@ngeMeITADB"
  gitlabDefinition:
    name: gitlab
    enabled: true
    config:
      GITLAB_PROTOCOL: "http"
      GITLAB_HOST: "gitlab"
      GITLAB_PORT: "8080"
    secret:
      GITLAB_ROOT_PASSWORD: "Ch@ngeMeGL"
      GITLAB_ROOT_TOKEN: "change-this-token"
  mongoDefinition:
    name: mongo
    enabled: true
    config:
      MONGO_PROTOCOL: "http"
      MONGO_HOST: "mongo"
      MONGO_PORT: "27017"
    secret:
      MONGO_ADMIN_USER: "admin"
      MONGO_ADMIN_PASSWORD: "Ch@ngeMeMGAdm"

extraEnv:
  PLATFORM_API_HOST: "platform-api"
  PLATFORM_API_PORT: "8000"
  SYSTEM_ANSIBLE_EXECUTION_LIMIT: "25"
  SYSTEM_ANSIBLE_EXECUTION_LIMIT_DESCRIPTION: "Maximum number of movement executions for whole of IT automation"
  SYSTEM_MENU_EXPORT_IMPORT_BUFFER_SIZE: "10000"
  SYSTEM_MENU_EXPORT_IMPORT_BUFFER_SIZE_DESCRIPTION: "Maximum buffer size of menu Export/import for System default (Used for DB fetch size, file stream read size)"
  ORG_ANSIBLE_EXECUTION_LIMIT_DEFAULT: "25"
  ORG_ANSIBLE_EXECUTION_LIMIT_MAX: "1000"
  ORG_ANSIBLE_EXECUTION_LIMIT_DESCRIPTION: "Maximum number of movement executions for organization default"
  ORG_COMMON_UPLOAD_FILE_LIMIT_DEFAULT: "104857600"
  ORG_COMMON_UPLOAD_FILE_LIMIT_MAX: "107374182400"
  ORG_COMMON_UPLOAD_FILE_LIMIT_DESCRIPTION: "Maximum byte size of upload file for organization default"
  ORG_MENU_EXPORT_IMPORT_BUFFER_SIZE_DEFAULT: "1000"
  ORG_MENU_EXPORT_IMPORT_BUFFER_SIZE_MAX: "10000"
  ORG_MENU_EXPORT_IMPORT_BUFFER_SIZE_DESCRIPTION: "Maximum buffer size of menu Export/import for Organization default (Used for DB fetch size, file stream read size)"

completionCount: 1

initContainerImage:
  repository: "registry.access.redhat.com/ubi8/ubi-init"
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

image:
  repository: ""
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

volumeMounts:
  mountPath:
    storage: /storage
    tmp: /tmp

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true

database:
  initContainerImage:
    repository: "docker.io/mariadb"
    tag: "10.11.4"
    pullPolicy: IfNotPresent

  image:
    repository: "docker.io/mariadb"
    tag: "10.11.4"
    pullPolicy: IfNotPresent

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  livenessCheck: |-
    #!/bin/bash
    i=10
    echo "HOST: ${DB_HOST}"
    until mysqladmin ping --host=${DB_HOST} --user=${DB_ADMIN_USER} --password=${DB_ADMIN_PASSWORD} --silent; do
      echo `date`": Can not connect to Database."
      sleep $i
    done
    echo `date`": Completely connect to Database."
    exit 0

  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true

command:
  migrationMain: |-
    python3 /exastro/migration_main.py

platform:
  livenessCheck: |-
    #!/bin/bash
    i=10
    echo "PLATFORM_API_HOST: ${PLATFORM_API_HOST}"
    echo "PLATFORM_API_PORT: ${PLATFORM_API_PORT}"
    until curl -svf http://${PLATFORM_API_HOST}:${PLATFORM_API_PORT}/internal-api/platform/settings/common -X GET -H 'User-Id: ""'; do
      echo `date`": Can not connect to Platform."
      sleep $i
    done
    echo `date`": Completely connect to Platform."
    exit 0

mongo:
  initContainerImage:
    repository: "docker.io/mongo"
    tag: "6.0.7"
    pullPolicy: IfNotPresent

  imagePullSecrets: []

  livenessCheck: |-
    #!/bin/bash
    i=10
    if  [ -n "${MONGO_HOST}" ]; then
      echo "HOST: ${MONGO_HOST}"
      until echo 'db.runCommand("ping").ok' | mongosh mongodb://${MONGO_HOST}:${MONGO_PORT}/test ; do
        echo `date`": Can not connect to Mongo."
        sleep $i
      done
      echo `date`": Completely connect to Mongo."
    fi
    exit 0

  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
